body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    max-width: 50px;
}

nav {
    background-color: #f0f0f0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.image {
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 20px;
    flex: 0 0 calc(25% - 20px); /* Четыре изображения в ряд с отступами для всех экранов */
}

.image img {
    max-width: 100%;
    height: auto;
}

.image p {
    margin-top: 5px;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

section {
    padding: 25px 0;
}

/* Стили для экранов меньше 768px (стандартный порог для телефонов) */
@media (max-width: 768px) {
    section {
        margin: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    .gallery {
        justify-content: center;
    }

    .image {
        flex: 0 0 calc(50% - 20px); /* Два изображения в ряд с отступами для меньших экранов */
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.social-icons img {
    max-width: 30px;
    margin: 0 5px;
}

.contact-info {
    margin-top: 10px;
}

.contact-info p {
    margin: 5px 0;
}

.floating-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f0f0f0;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 1000;
}

.floating-menu li {
    margin-left: 20px;
}

.floating-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

#procedure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

h1, h2 {
    text-align: center;
}

body {
    overflow-y: scroll;
}
